
<carousel>
  <slide>
    <img src="assets/imges/WhatsApp Image 2019-04-10 at 2.41.42 PM.jpeg" alt="first slide" style="display: block; width: 100%;height:743px;">
  </slide>
  <slide>
    <img src="assets/imges/WhatsApp Image 2019-04-10 at 2.41.42 PM (4).jpeg" alt="second slide" style="display: block; width: 100%;height:743px;">
  </slide>
  <slide>
    <img src="assets/imges/WhatsApp Image 2019-04-10 at 2.41.42 PM (2).jpeg" alt="third slide" style="display: block; width: 100%;height:743px;">
  </slide>
   <slide>
    <img src="assets/imges/WhatsApp Image 2019-04-10 at 2.41.42 PM (1).jpeg" alt="third slide" style="display: block; width: 100%;height:743px;">
  </slide>
   <slide>
    <img src="assets/imges/WhatsApp Image 2019-04-10 at 2.41.42 PM (5).jpeg" alt="third slide" style="display: block; width: 100%;height:743px;">
  </slide>
   <slide>
    <img src="assets/imges/WhatsApp Image 2019-04-10 at 2.41.42 PM (7).jpeg" alt="third slide" style="display: block; width: 100%;height:743px;">
  </slide>
   <slide>
    <img src="assets/imges/WhatsApp Image 2019-04-10 at 2.41.42 PM (8).jpeg" alt="third slide" style="display: block; width: 100%;height:743px;">
  </slide>
  <slide>
    <img src="assets/imges/WhatsApp Image 2019-04-10 at 2.41.42 PM (9).jpeg" alt="third slide" style="display: block; width: 100%;height:743px;">
  </slide>
  <slide>
    <img src="assets/imges/WhatsApp Image 2019-04-10 at 2.41.42 PM (10).jpeg" alt="third slide" style="display: block; width: 100%;height:743px;">
  </slide>
  <slide>
    <img src="assets/imges/WhatsApp Image 2019-04-10 at 2.41.42 PM (11).jpeg" alt="third slide" style="display: block; width: 100%;height:743px;">
  </slide>
  <slide>
    <img src="assets/imges/WhatsApp Image 2019-04-10 at 2.41.42 PM (12).jpeg" alt="third slide" style="display: block; width: 100%;height:743px;">
  </slide>

</carousel>

<router-outlet></router-outlet>




















